.btn {
  color: white;
  display: inline-block;
  min-width: 56px;
  border: 0;
}

.primary {
  background-color: blue;
}

.secondary {
  background-color: green;
}

.danger {
  background-color: maroon;
}
