$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

.root {
  display: block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  display: flex;
}

.item {
  flex: 1;
}
